<main class="main">

    <img src="/assets/img/burger.png" class="img-fluid" alt="Responsive image">
    <header>Choose Burger</header>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Burger List</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <li>
                            <p>
                                {{this.id}} - {{this.burger_name}}
                                <button data-moveied="{{this.id}}" class="devoured" type="button">Devour
                                    it!</button>
                            </p>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-6">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Devoured Burger!!</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#if devoured}}
                        <li>
                            <p>
                                {{this.id}} - {{this.burger_name}}
                                <button data-moveied="{{this.id}}" class="deleted" type="button">Delete</button>
                            </p>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <h2>Add a burger to eat</h2>
        <form id="addburger" class="button-size">
            <textarea type="text" name="burger"></textarea>
            <button type="submit" id="submit">Save burger!</button>

        </form>
    </div>
</main>

<script>
    $(function () {
        $("#addburger").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();
            console.log("nino")
            var newBurger = {
                burger_name: $("#addburger [name=burger]").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("added new burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
        // update devoured status
        $(".devoured").on("click", function (event) {
            console.log("clicked handlebar")
            var id = $(this).data("moveied");
            console.log($(this).data)
            event.preventDefault();
            var updated = {
                devoured: 1
            };
            console.log(updated)
            $.ajax("/api/burgers/" + id, {
                type: "put",
                data: updated
            }).then(
                function () {
                    console.log("upodated burger");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );

        });
        //delete devoured burger
        $(".deleted").on("click", function (event) {
            let id = $(this).data("moveied");
            event.preventDefault();
            $.ajax("/api/burgers/" + id, {
                type: "delete"
            }).then(
                function () {
                    console.log("deleted item")
                    // Reload the page to get the updated list
                    location.reload();
                }
            );

        })

    })
</script>